body {
  background-color: #fffff0; /* changed background color*/
  color: #000000;/* changed font color*/
  font-size: 18px; /*Edit the CSS so that all fonts can have their
  font-size edited quickly from the same location.*/
}
/* used line height and applied  appropriate sizes to the typography
to accurately weight the importance of specific
portions of the content provided (headlines, etc.)*/
h1 {
  font-size: 3em; /* altered font size for readability */
  line-height: 1.2; /* altered lined height*/
  line-height: 70%;
  line-height: 3em;
  line-height: normal;
}

h3 {
  font-size: 1.2em; /* altered font size for readability */
  line-height: 1; /* altered lined height*/
  line-height: 20%;
  line-height: 2em;
  line-height: normal;
}

.story-text {
  font-size: .95em; /* altered font size for readability */
  line-height: 3; /* altered lined height*/
  line-height: 20%;
  line-height: 2em;
  line-height: normal;

}
p {
  font-size: 112.5%; /* Altered font size for readability*/
  line-height: 3; /* altered lined height*/
  line-height: 100%;
  line-height: 1.3em;
  line-height: normal;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;


}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li a {       /* removed underline and added interactivity*/
  float: right;
  padding: 30px;
  text-decoration: none;
}

a:hover { color:#0070BC; } /* mouse over */

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
